@import './note-list.palette.scss';

$toolbar-height: 64px;

.note-add-btn {
    position: absolute;
    right: 16px;
    top: 0;
    width: $toolbar-height;
    height: $toolbar-height;
    color: var(--note-add-btn-color);

    mat-icon {
        width: 100%;
        font-size: 32px;
    }
}
.note-item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 64px;

    .note-icon {
        margin-right: 16px;
    }

    .note-menu {
        margin-left: auto;
    }
}

.dialog-container {
    h1 {
        word-break: break-all;
    }
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - #{$toolbar-height});
}