<ng-container *ngIf="paginatedItems$ | async as items">
    <mat-paginator 
        [length]="items.totalSize" 
        [pageIndex]="paginationOptions.pageIndex"
        [pageSize]="paginationOptions.pageSize"
        [pageSizeOptions]="paginationOptions.pageSizeOptions"
        (page)="onPagination($event)">
    </mat-paginator>
    <mat-list>
        <mat-list-item *ngFor="let item of items.children">
            <div class="note-item">
                <mat-icon class="note-icon">note</mat-icon>
                <span>{{item.title}}</span>
                <button class="note-menu" mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                        <span>Remove</span>
                    </button>
                </mat-menu>
            </div>
        </mat-list-item>
    </mat-list>
</ng-container>