<ng-container *ngIf="paginatedItems$ | async as items; else loadingBlock">
    <button class="note-add-btn" mat-icon-button (click)="addNote()">
        <mat-icon>add</mat-icon>
    </button>
    <mat-paginator 
        [length]="items.totalSize" 
        [pageIndex]="paginationOptions.pageIndex"
        [pageSize]="paginationOptions.pageSize"
        [pageSizeOptions]="paginationOptions.pageSizeOptions"
        (page)="onPagination($event)">
    </mat-paginator>
    <mat-list>
        <mat-list-item *ngFor="let item of items.children">
            <div class="note-item">
                <mat-icon class="note-icon">note</mat-icon>
                <span>{{item.title}}</span>
                <button class="note-menu" mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="removeNote(item)">
                        <span>Remove</span>
                    </button>
                </mat-menu>
            </div>
        </mat-list-item>
    </mat-list>
</ng-container>

<ng-template #loadingBlock>
    <div class="loading-container">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>

<ng-template #confirmDelete let-data>
    <div class="dialog-container">
        <h1 mat-dialog-title>Remove {{data.note.title}}</h1>
        <div mat-dialog-content>You want to delete note</div>
        <div mat-dialog-actions>
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-button  [mat-dialog-close]="true">Delete</button>
        </div>
    </div>
</ng-template>
